<body class="body-3">
  <div class="w-layout-grid grid-9">
    <div id="w-node-dd0bd141-067a-b90e-7750-82be062f6912-f079838b" class="div-block-14">
      <div class="form-block w-form">
        <%=form_with  class: "form" do |f|%>
          <%=f.label :name,'Name',class: "field-label-3" %>
          <%=f.text_field :name,class: "text-field-2 w-input"%>
          <%=f.label :password, 'Password',class: "field-label-4" %>
          <%=f.password_field :password,class: "text-field-3 w-input" %>
          <%=f.submit'login',class: "submit-button-2 w-button"%>
        <% end %>
      </div>
    </div>
    <div id="w-node-_30418574-315d-7e1c-f9d8-f0445c822af7-f079838b" class="div-block-15">
      <div id="w-node-_443c6882-709a-8788-8fd1-a67497a11b22-f079838b" class="text-block-17"><strong class="bold-text-12">秘密 の 部屋</strong></div>
    </div>
  </div>
</body>